.background {
	min-height: 100vh;
	width: 100vw;
	background-image: url('../../assets/background4.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex; 
	flex-direction: column;

	// justify-content: center;
	align-items: center;

	position:relative;
 }

 .buttonColumn{
	// background-color: rgb(171, 115, 170);
	// opacity: .5;
	
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	row-gap: 60px;
	column-gap: 10px;
	margin-top: 220px;
}
	
.button{
	width:600px;
	height: 160px;
	white-space: pre-line;
	font-size: 30px;

	padding-left: 180px;
	letter-spacing: -2px;
	line-height: 1;
	text-transform: uppercase;
}

.logoButton{
	 background: transparent !important; // Прозрачный фон
    border: none !important; // Убираем границы
    padding: 0 !important; // Убираем отступы
    cursor: default !important; 
}

