.background {
	min-height: 100vh;
	width: 100vw;
	background-image: url('../../assets/background2-0.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	display: flex; 
	flex-direction: column;

	// justify-content: center;
	// align-items: center;

	position:relative;
 }

 .logoWrapper {
	 
	 height: 180px;
	 width: 100%;
	//  background-color: rgb(65, 188, 84);
	//  opacity: 0.5;
	 position:absolute;
 }

 .buttonsContainer{
	display: flex; 
	justify-content: center;
	align-items: center;
	margin: auto; 
	gap: 40px;
 }

 .contentButton{
	width: 850px;
	height: 240px;
	
	white-space: pre-line;
	font-size: 30px;
	padding-left: 250px;
 }

 

 